APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

XOR_KEY=

GIT_BRANCH_NAME=main
GIT_WEBHOOK_SECRET=
GIT_WEBHOOK_MIGRATE=false
GIT_WEBHOOK_MIGRATE_FORCE=false

ANDROID_BUILD_TYPE=release

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

LOG_SYNC_REQUEST=false
LOG_SYNC_PAYLOAD=false
LOG_SYNC_SQL=false

TRACE_REPORT_MAIL_RECIPIENTS=tech@cgatechnologies.org.uk
RETRACE_PATH=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

AWS_ONE_WAY_ACCESS_KEY_ID=
AWS_ONE_WAY_SECRET_ACCESS_KEY=
AWS_ONE_WAY_URL=
AWS_ONE_WAY_ENDPOINT=
AWS_DEFAULT_REGION=eu-west-1
AWS_BUCKET_MEDIA=wideya-media

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=wideya-media
AWS_URL=https://s3.amazonaws.com
AWS_ENDPOINT=https://wideya-media.s3.eu-west-1.amazonaws.com
AWS_USE_PATH_STYLE_ENDPOINT=false

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

